.WatchLater {
  display: flex;
  flex-direction: row;
  text-align: justify;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 189);
}
.title-later {
  flex-grow: 2;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 15px;
}
.cance-icon {
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .adjust {
    margin: 4rem 1rem 1rem 1rem;
  }

  .WatchLater {
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
  .title-later {
    font-weight: bold;
    margin: 5px;
  }
  .cance-icon {
    margin: 5px;
  }
}
